@charset "utf-8";
.btn-area{
  background:yellow;
}

.btn-prev, .btn-next{
  cursor:pointer;
  display:inline-block;
  width:20px;
  height:0px;
  padding-top:20px;
  overflow:hidden;
  background:pink url("images/backpage_forwardpage.png") no-repeat;
}

.btn-next{
  background-position: -40px 0;
}



