@charset "utf-8";
@import url("./normalize.css");


.readable-hidden{background:red; /*display:none;*/ position:absolute; left:-9999em;
font-size:0; line-height:0; width:1px; height:1px; margin: -1px;}


body{
   /* color:red;
    color:green;*/
    color:#000;
}
/*기본 box sizing 재설정*/
/* http://ko.learnlayout.com/box-sizing.html*/
*, *::before, *::after{box-sizing:border-box;}

/*25 + 20 +50+10+15 = 105 120*/

.wrapper{
    height:100vh;
    background:url('images/bg_flower.png'),linear-gradient(to bottom, #ccc 0%, #fff 50%, #fff 100%);
    background-repeat:no-repeat;
    background-position:50% 0 0 200px;
   /* background-size:200px 500px;*/
    /*background-color:yellow;*/
    /*background-attachment:fixed;*/

}

.header, .visual, .main-content, .footer{
  /*  width:940px; outline:10px solid pink;*/
  width:940px;
}


/*메인 메뉴*/
.main-menu{border-top:2px solid #000; border-radius:0 0 5px 5px;
background: linear-gradient(to bottom, #fcbf32 0%,#aa711b 35%,#c9ab26 65%,#ffc832 100%);
padding:0 10px; height:47px; line-height:45px; 
}

.sub-menu a::before{content:"r"; font-family:"webcafeIcon"; position:relative; }
.sub-menu{background:yellow; position:absolute; /*임시 */ display:none; width:500px; top:47px; left:0;
 white-space:nowrap; }
.sub-menu li, .sub-menu a{display:inline-block; font-size:1.4rem;}
.sub-menu a{padding:8px 10px 8px 0; margin-right:5px;}

.sub-menu a::before{content:'\e807'; font-family:"fontrello"; margin-right:10px;}


.main-menu span{ cursor:pointer; text-shadow:1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000,0 -1px 0 #000;
 color:#fff; font:bold italic small-caps 1.6rem "Noto Sans Bold", sans-serif;}
.main-menu > li{float:left; padding:0 20px; 
border-left:1px solid rgba(255,255,255,0.5); position:relative; 
}

.main-menu {position:absolute;}

@keyframes text-ani{
    0%{
        font-size:12px;
        color:rgba(0,0,0,0);
        transform:translate(0,0);
        opacity:0;
    }
    100%{
        font-size:24px;
        color:rgba(0,0,0,1);
        transform:translate(400px, 75px)
    }
}

.visual{height:120px; position:relative;}
.visual::before, .visual::after{content:''; position:absolute; top:0; left:0;
width:100%; height:100%;}

.visual::before{
    background:url('images/ani_flower_01.png')
}

.visual-text{background:yellow; animation-name:text-ani; 
animation-duration:5s; animation-fill-mode:forwards; width:500px;
animation-iteration-count:infinite; animation-direction:alternate; 
animation-delay:5s; animation-timing-function:cubic-bezier(.29,1.12,.89,.96);
/*animation-play-state:paused;*/ }

.main-menu span:hover::after,
.main-menu span:hover::focus{content:""; display:block; 
border-top:2px solid #000;}

/*.about-html{display:block;}
.about-css{display:block;}
.web-standards{display:block;}
.web-accessibility{display:block;}
.qna{display:block;}*/
/*.archieve{}*/

.web-standards{right:0;}

.sub-menu-active{display:block!important;}

/*

.main-menu > li > a
*/


.header{
    background-color:yellow;
    border-radius:0 0 15px 15px;
    border-top-width:10px;
    border-right-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-top-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
   /* border-color:red blue green purple;*/
    border-width:10px 20px 30px 40px;
    border:10px solid #fff;
    /*border-style:solid dotted dashed double;*/
    padding:50px;

    box-sizing:border-box;
    margin:0 auto;
}

.slogan{background:red;}


.main_content{display:flex;
padding:30px; 
justify-content:flex-start;
flex-direction:row;
flex-wrap:wrap;
align-items:flex-start;
/*align-content:;
padding:30px;*/
}

.main_content{background:;}
.main_content::after{content:""; color:#fff; display:block; clear:both;}
/*border */
.group{height:100px; border-width:0 10px; border-style:solid; border-color: #ccc; }
.group1{background:red; width:250px; float:right; position:relative; right:-100px;}
.group2{background:yellow; width:380px; float:left}
.group3{background:green; width:190px; float:left;}

.visual{

    height:120px;
}


.slogan{clear:both; margin-top:150px;}
.footer{background:skyblue; height:100px; width:940px; }
/*
    parent element{font-size:0}

    child element{display:inline-block; vertical-align:top; font-size:14px;}
*/

.parent{width:100%; height:100px; display:flex;}
.child{width:20%; height:100%;}
.child1{background:red;}
.child2{background:green;}
.child3{background:blue;}

/*info-menu*/
.info-menu{justify-content:flex-start;
flex-direction:row;
flex-wrap:wrap;
align-items:flex-start;}


.info-menu li:after{content:":"}
.info-menu a{background:lime; display:inline-block; padding:5px 10px;}
.bullet-none::after{content:"" !important!}

