@charset "utf-8";

body {
  background: #555;

}


.container {
  background: #bbb;
  min-height: 200vh;
  width: 1000px;
  margin:0 auto;
}

.header {
  background: yellow;
  min-height: 200px;

}

.logo {
  height:40px;
  border: 10px solid blue;
  font-size: 2.0rem;
  position:fixed;
  left:0;
  top:0;
  z-index:100;
}

.main-content {
  background: green;
}

.main-content {
 position:relative;
 display:flex;
}

.news, .rank, .personel {
  width: 300px;
  height: 300px;
  margin: 10px;
  
}

.news {
  background: aqua;
  order:2;
  position:absolute;
  right:0;
}

.rank {
  background: olive;
  order:0;

}

.personel {
  background: violet;
  order:1;
}

.footer {
  background: red;
}

.info-list {
  display:flex;
  flex-wrap:wrap;
  align-content:space-around;
}

.info-list li{
  width:100%;
  height:30px;
  line-height:30px;
}

li.info-2, li.info-3, li.info-4, li.info-5{border:1px solid black;}


.info-1 {

  top: 100px;
  background:#ccc;
  order:1;
}


.info-1 span{display:block; width:90px; border:1px solid #000;}

.info-2{margin-bottom:30px;}

.info-3 {
  top: 100px;
  background:#ccc;
  order:2;
}

/*info padding, info-1*/


